<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>english-words</title>

  <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
  />
  <style>

    .row ml-2 {height: 100%}

  </style>

</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Custom SSG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Features</a>
      </div>
    </div>
  </nav>

  <div class="row ml-2 my-1">
      <div class="col-lg-2"> </div>
      <div class="col-lg-8 card">
        <a>Tubman du métro, venez suivre le sentier
J'ai fait Sunday Candy, je ne vais jamais en enfer
J'ai rencontré Kanye West, je ne vais jamais échouer
Il a dit: faisons un bon boulot avec Chance 3
J'entends que tu dois le vendre pour arracher le Grammy
Rendons-le si libre et les barres si dures
Qu'il n'y a pas une seule partie de dieu que tu ne peux pas tweeter
C'est ma part, personne d'autre ne parle
C'est ma part, personne d'autre ne parle
Ma petite lumière
Gloire à Dieu, ouais
Je vais m'assurer qu'ils vont là où ils ne peuvent pas aller
S'ils ne veulent pas rouler, je leur donnerai toujours des imperméables
Sachez ce que Dieu a dit quand il a fait le premier arc-en-ciel
Jette juste ça à la fin si je suis trop tard pour l'intro
Ugh, je m'amuse juste avec ça
Tu sais qu'un négro a été perdu
Je ris dans ma tête
Parce que je parie que mon ex regarde en arrière comme une colonne de sel
Ugh, car ils vont retourner le script sur ton cul comme Wesley et Spike
Vous ne pouvez pas jouer avec la lumière
Regardez Lil Chano du 79e</a>
      </div>
      <div class="col-lg-2"> </div>
  </div>

  <footer class="bg-secondary p-5 text-white">
          &copy; 2020 SSG Inc.
  </footer>

</body>
</html>
