<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Untitled Custom SSG</title>
</head>
<body>
  Tubman del metro, ven y sigue el rastro
Hice Sunday Candy, nunca iré al infierno
Conocí a Kanye West, nunca voy a fallar
Dijo que hagamos un buen trabajo con Chance tres
Escuché que tienes que venderlo para arrebatarle el Grammy
Hagámoslo tan libre y las barras tan duras
Que no hay una maldita parte que no puedas tuitear
Esta es mi parte, nadie más habla
Esta es mi parte, nadie más habla
Esta pequeña luz mía
Gloria a Dios, sí
Me aseguraré de que vayan a donde no pueden ir
Si no quieren montar, todavía les daré chubasqueros
Sepa lo que Dios dijo cuando hizo el primer arcoíris
Solo tira esto al final si llego demasiado tarde para la introducción
Ugh, solo me estoy divirtiendo con eso
Sabes que un negro se perdió
Me río en mi cabeza
Porque apuesto a que mi ex mira hacia atrás como un pilar de sal
Uf, porque te darán la vuelta al guión como Wesley y Spike
No puedes meterte con la luz
Mira a Lil Chano del 79
</body>
</html>
