<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>english-words</title>

  <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
    />
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Custom SSG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Features</a>
      </div>
    </div>
  </nav>

  <div class="row ml-2 my-1">
      <div class="col-lg-2"> </div>
      <div class="col-lg-8 card">
        Tubman ya chini ya ardhi, kuja na kufuata uchaguzi
Nilifanya Pipi ya Jumapili, sitaenda kuzimu
Nilikutana na Kanye West, sitashindwa kamwe
Alisema wacha tufanye kazi nzuri ya punda na Chance tatu
Nasikia umelazimika kuiuza ili kuinyakua gramu hiyo
Wacha tuifanye iwe ya bure na baa kuwa ngumu sana
Kwamba hakuna sehemu ya garn ya darn huwezi kuteleza
Hii ni sehemu yangu, hakuna mtu mwingine anayezungumza
Hii ni sehemu yangu, hakuna mtu mwingine anayezungumza
Nuru hii ndogo yangu
Utukufu uwe kwa Mungu, ndio
Ninahakikisha kuwa huenda mahali ambapo hawawezi kwenda
Ikiwa hawataki kupanda mimi bado ninawapa mvua za mvua
Jua Mungu alisema nini alipofanya upinde wa mvua
Tupa hii mwishoni ikiwa nimechelewa sana kwa intro
Kwa kweli, ninajifurahisha nayo tu
Unajua kuwa nigga ilipotea
Nacheka kwa kichwa changu
Sababu mimi bet kwamba zamani wangu kuangalia nyuma kama nguzo ya chumvi
Kwa kweli, husababisha watatoa maandishi kwenye punda wako kama Wesley na Mwiba
Hauwezi kuchanganyikiwa na taa
Angalia lil Chano kutoka ya 79
      </div>
      <div class="col-lg-2"> </div>
  </div>

  <footer class="bg-secondary p-5 text-white">
          &copy; 2020 SSG Inc.
  </footer>

</body>
</html>
